* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* for smooth scrolling effect */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  background-color: #010020;
  color: white;
  font-family: "poppins", sans-serif;
}
/* for sticky navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 333;
}
.menu-icon {
  display: none;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #0f0f3d;
  align-items: center;
  height: 90px;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(156, 156, 236);
  font-size: 1.01rem;
}
#check {
  display: none;
}
.nav-head {
  display: flex;
  flex-direction: row;
  font-size: 45px;
  font-weight: 500;
}
.nav-bar {
  top: 0;
  position: sticky;
}

/* button */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "poppins", "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  font-family: "poppins", sans-serif;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* **** Rounding effect**** */
.box {
  position: relative;
  margin: 50px;
  width: 400px;
  height: 600px;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.img {
  position: relative;
  left: -50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.img .imgBx {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff;
  transform: rotate(calc(360deg / 8 * var(--i)));
  transform-origin: 220px;
}
.img .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(calc(360deg / 8 * var(--i)));
  animation: anim 3s linear infinite;
}
@keyframes anim {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
/* ***********Responsive Navbar*********** */
@media screen and (max-width: 427px) {
  .third{
    height: 900px;
    overflow: hidden;
  }
  .nav-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 10px;
    width: 100%;
    padding: 8px;
    color: #5adaff;
    border-bottom: 2px solid rgba(128, 128, 128, 0.37);
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .nav-items {
    background-color: #ffffff;
    width: 100%;
    height: 0;
    opacity: 0;
  }
  .nav-items.active {
    height: 500px;
    opacity: 5;
  }
  .nav1 {
    margin-left: 120px;
  }
  .nav-bar li {
    margin: 20px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.11);
    padding: 8px;
    font-size: 20px;
  }
  nav ul li a {
    color: #000000;
    font-weight: 700;
  }
  nav ul li a:hover {
    color: #ffffff;
    transition: 0.2s ease-in;
  }
  nav ul {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 0;
    overflow: hidden;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #5adaff;
    margin-top: 8px;
  }
}
/* ********Education********* */
.e2{
  border: 2px solid rgba(255, 255, 255, 0.048);
  border-radius: 30px;
  background-color: #010020;
  text-align: center;
  width: 45%;
  height:210px;
  margin: 20px;
}
.e1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.e-11{
  margin: 5px;
  margin-top: 15px;
  font-size: 25px;
  color: white;
}
.e-12{
  margin: 10px;
  font-weight: 500;
  color: #78C5E3;
}
.e-13{
  text-align: center;
  color: rgba(128, 128, 128, 0.753);
}
/* ************REsponsive About************ */
@media screen and (max-width:427px){
  .second{
    height: 1500px;
    overflow: hidden;
  }
  .s h2{
    font-size: 40px;
    font-weight: 400;
  }
  .s1{
    width: 70%;
    text-align: center;
  }
  .s1 h3{
    font-size: px;
  }
}
/* **********Responsive Education*********** */
@media screen and (max-width: 427px){
  .third{
    height: 1500px;
  }
  .e1{
    flex-direction: column;
  }
  .e2{
    border-radius: 30px;
    text-align: center;
    width: 60%;
    height:250px;
    margin: 20px;
  }
  .e-11{
    margin: 2px;
    font-size: 15px;
    margin-top: 20px;
  }
}
/* ***********Responsive Skills*********** */
@media screen and(max-width: 427px){
  .skill1{
    width: 100%;
    font-size: 10px;
  }
}